@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewBag.Title</h1>

<hr />

<div class="alter alter-danger">
    <p>Họ và tên: Nguyễn Việt Anh</p>
    <p>Lớp: CNTT1-64</p>
    <p>Học phần: Lập trình Web</p>
    <p>
        Email: <a href="mailto:vieanh.nguyen190105@gmail.com" title = "vieanh.nguyen190105@gmail.com" >vieanh.nguyen190105@gmail.com</a>
    </p>
    <p>
        Điện thoai: <a href="tel:0353703997" title="0353703997">0353703997</a>
    </p>
</div>
