@model Tvt_231230930_de01.Models.TvtComputer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TvtComputer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TvtCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tvtComName" class="control-label"></label>
                <input asp-for="tvtComName" class="form-control" />
                <span asp-validation-for="tvtComName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tvtComprice" class="control-label"></label>
                <input asp-for="tvtComprice" class="form-control" />
                <span asp-validation-for="tvtComprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tvtComImage" class="control-label"></label>
                <input asp-for="tvtComImage" class="form-control" />
                <span asp-validation-for="tvtComImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="tvtComStatus" /> @Html.DisplayNameFor(model => model.tvtComStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TvtIndex">Xem Danh Sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
