<div>
    <h3>Danh mục sản phẩm</h3>
    <ul>
        <li>Áo dài</li>
        <li>Áo đông</li>
        <li>Túi xách</li>
        <li>Đồng hồ</li>
        <li>Ví da</li>
        <li>Thắt lưng da</li>
        <li>Tủ lạnh</li>
        <li>Tivi</li>
        <li>Quạt điện</li>
        <li>Lò sưởi</li>
    </ul>
</div>
